* {
  box-sizing: border-box;
}

.board {
  max-width: 960px;
  height: 100vh;
  position: relative;
}

.card {
  width: 200px;
  height: 200px;
  border: 2px solid green;
}

/*.flip {
  position: absolute;
  top: 0;
  right: 0;
}*/

.correct-button,
.wrong-button {
  display: none;
}
