* {
  box-sizing: border-box;
}

body {
  background: LemonChiffon;
}

.board {
  max-width: 960px;
  height: 80vh;
  position: relative;
  margin: 0 auto;
  background-color: #DCDCDC;
  padding-top: 25px;
}

.card {
  width: 200px;
  height: 200px;
  border: 2px solid green;
  position: relative;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  background: white;
}
/*.flip {
  position: absolute;
  top: 0;
  right: 0;
}*/

.correct-button,
.wrong-button {
  display: none;
}

.choices {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(141,212,207,0.2);
}

.add-card {
  display: none;
  position: absolute;
  bottom: 0;
  left:0;
  width: 250px;
  border: 2px solid black;
  background: white;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0);
  font-size: 24px;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(111, 2, 144, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.outer-div {
  width: 25%;
  height: 100px;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 20px;
  background: rgba(0, 24, 24, 0.8);
  color: white;
}

.question {
  border-bottom: 2px dashed gray;
  padding-top: 10px;
}

.answer {
  padding-top: 20px;
}

.question,
.answer {
  text-align: center;
  height: 50%;
}

.stats-container {
  width: 300px;
  height: 200px;
  position: absolute;
  padding-top: 25px;
  right: 10px;
  top: 0;
  display: none;
}

.card-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  background: gray;
  opacity: 0.5;
  font-size: 36px;
  height: 100%;
  transition: opacity 0.35s ease;
}

.card-menu-icon:hover {
  opacity: 1.0;
}

.hud {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  height: 25px;
}
.counters {
  /*display: inline-block;*/
  flex-shrink: 0;
  flex-grow: 1;
  padding: 5px 15px;
  height: 100%;
  margin: 0;
  text-align: center;
}

.fk-count,
.fully-know {
  background: green;
}

.kk-count,
.kinda-know {
  background: yellow;
}

.dk-count,
.dont-know {
  background: red;
}

h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.block {
  display: block;
  margin: 10px;
}

.bubbles {
  height: 100%;
  position: absolute;
  width: calc(50% - 100px);
  top: 0;
  left: 0;
  padding-top: 25px;
}

.buttons {
  width: 50%;
  position: relative;
  top: 100px;
  left: 37.5%;
}

.next,
.flip {
  width: 50%;
  margin: 0 auto;
}

.menu {
  position: absolute;
  width: 300px;
  top: 25px;
  right: 0;
  height: 80vh;
  font-size: 12px;
  transition: all 1s ease;
  background: #564F4F;
}

.offscreen {
  transform: translateX(300px);
}

.menu-buttons {
  width: 100%;
  height: 45px;
}

.stat {
  font-size: 16px;
}

.decks {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
}

.check-label {
  padding: 3px 10px 0 3px;
}

#fk,
#kk,
#dk {
  margin-top: 3px;
}

.reset {
  position: absolute;
  bottom: 0;
  right: 0;
}

circle:hover,
.check:hover,
.card-menu-icon:hover,
.close:hover,
.outer-div:hover {
  cursor: pointer;
}
